<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        #info {
            margin-top: 20px;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
    </style>
</head>
<body>
    <div id="info">
    Welcome to the home page "{{ user.username }}"!
    <form method="POST" action="/logout">
        {% csrf_token %}
        <button type="submit"> Logout </button>
    </form>
    </div>
    <h1>Register for hackathons</h1>
    <a href="{% url 'hkregister' %}">Register</a>
    <h1>List or view hackathons</h1>
    <a href="{% url 'hacklist' %}">Hackathons</a>
</body>
</html>